image:
  repository: cicd-so-happy.maxwin.com.tw:5000/prom-vehicle-exporter
  pullPolicy: IfNotPresent
  tag: 1.4.11
  containerPort: 3000

labels:
  app.maxwin/component: backend
  app.maxwin/name: prom-vehicle-exporter

# 要建立幾個 group（會自動產生 group-0 ~ group-{N-1} 的 Deployment/Service）
groupCount: 2

# 每個 Deployment 的 replica 數量
replicaCount: 1

# default resources（所有 group 共用）
resources:
  limits:
    cpu: 1
    memory: 512Mi

config:
  DRY_RUN: false
  LOG_LEVEL: info
  NATS_SERVER: 10.40.201.251:30422
  NATS_SUBJECT: vehicle.aggregate.*
  PRE_PROCESSED: true
  TZ: Asia/Taipei
  VEHICLE_EXPIRED: 30

service:
  type: ClusterIP
  port: 3000 # service port

serviceMonitor:
  enabled: true
  scrapeInterval: 15s
  scrapeTimeout: 10s
  prometheusRelease: my-prom-stack # Prometheus Operator Release Name
