DRY_RUN=true
TZ=Asia/Taipei
DB_SERVER=your_db_server_ip
DB_NAME=your_db_name
SMTP_SERVER=your_smtp_server_ip
SENDER_EMAIL=your_sender_email
RECEIVER_EMAIL=user@example.com
CC_EMAIL=cc_user@example.com
