DRY_RUN=true

smtp_server=192.168.160.125
sender_email=report@racev.com
receiver_email=user1@example.com,user2@example.com
cc_email=admin@example.com

LABEL_TBOX=http://your-prometheus:30080/api/v1/label/carNo/values
QUERY_TBOX=http://your-prometheus:30080/api/v1/query_range
LABEL_QISDA=http://other-prometheus:9090/api/v1/label/carNo/values
QUERY_QISDA=http://other-prometheus:9090/api/v1/query_range