---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: http-metrics
      port: 9000
      targetPort: 9000
  type: ClusterIP